#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.streaming-button {
  margin: 5px;
  width: 200px;
}

.streaming-button-red {
  margin: 5px;
  background-color: #964c4c;
  width: 125px;
}

.container {
  display: flex;
  flex-direction: column;
}

.dataViewer {
  height: 50px;
}